[Unit]
Description=Halt on ping - shutdown if ping fails
After=network.target

[Service]
Type=simple
ExecStart=/usr/local/bin/haltoping <ROUTER_IP>
Restart=on-failure
RestartSec=30s
ExecStartPre=/bin/sleep 180

[Install]
WantedBy=multi-user.target
